* {
    box-sizing: border-box;
}
.container-fluid{
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 932px) {
    .wish, .comp, .respo, #elements{
        display: none;
    }
    .resp{
        display: block !important;
    }
    .openbtn{
        display: block !important;
    }
    .firstline {
        width: 100%;
        height: 50px !important;
    }

    .firstpart {
        width: 200px;
    }

    .secondpart {
        display: none;
    }

    .thirdpart {
        display: flex;
    }

    .comp {
        display: none;
    }

    .wish {
        display: none;
    }

    .search {
        display: none;
    }

    .secondline {
        height: 100%;
    }

    .foot {
        flex-direction: column;
        height: 160px !important;
    }

    .subMail {
        width: 350px !important;
    }

    .footer {
        flex-wrap: wrap;
        height: 520px !important;
    }

    .mapouter {
        margin: auto;
    }
}

@media only screen and (max-width: 375px) {

    .firstline {
        width: 100%;
        height: 50px !important;
    }

    .firstpart {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .firstpart {
        display: none;
    }

    .secondpart {
        display: none;
    }

    .thirdpart {
        display: flex;
    }

    .comp {
        display: none;
    }

    .wish {
        display: none;
    }

    .search {
        display: none;
    }

    .secondline {
        height: 100%;
    }

    .footer {
        height: 830px !important;
    }

    .links {
        margin-left: -84px;
    }

    .information {
        margin-left: 3px !important;
    }

    .gmap_canvas {
        width: 290px !important;
        margin-left: 20px !important;
    }
}

.dropimg {
    width: 200px !important;
}

.logo {
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none !important;
}

.category {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
}

.searching button {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: white;
    border: none;
    width: 40px;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none !important;
}

.thirdpart {
    display: flex;
}

.foot {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    width: 100%;
    height: 281px;
    display: flex;
}

.links {
    width: 260px;
    display: flex;
    flex-direction: column;
}

.information {
    width: 340px;
    margin-left: 51px;
}

.information p {
    color: white;
}

.mapouter {
    text-align: right;
    height: 220px;
    width: 650px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 220px;
    width: 600px;
}

.uphead {
    color: black;
    display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 40px;
    z-index: 100;
}

.sidenav {
    height: 213px;
    width: 44px;
    position: fixed;
    z-index: 1;
    top: 32%;
    right: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sidenav a {
    width: 32px;
    height: 32px;
    text-decoration: none;
    color: #818181;
    display: block !important;
}

.colors {
    height: 10px;
    width: 25px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 44px !important;
}

.lefter {
    height: 35px;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 35%;
    right: 0;
}

.lefter i {
    font-size: 24px;
    margin-left: -5px;
}

.reng a {
    display: none;
}

ul.breadcrumb {
    padding: 6px 10px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: -24px;
    left: 200px;
    margin-top: -1px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}


.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.mega-menu {
    width: 1350px;
    overflow: hidden;
    padding: 10px;
    margin-left: -452px;
}

.mega-menu a {
    text-decoration: none;
    color: cadetblue;
}

.mega-menu .sub-menu-heading {
    color: darkcyan;
}

.checked {
    color: orange;
}

.tab {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
}

textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid #e1e1e1;
}

.inp input {
    outline: none;
    border: none;
    border-bottom: 1px solid #e1e1e1;
}
.number{
    float: left;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #5cb85c;
    border: 2px solid #5cb85c;
    color: white;
    text-align: center;
    font: 19px Arial, sans-serif;
}
.number1{
    float: left;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #666;
    border: 2px solid #666;
    color: white;
    text-align: center;
    font: 19px Arial, sans-serif;
}
.line{
    background: #666;
    position: absolute;
    height: 1px;
    width: 65px;
    margin-top: 20px;
    margin-left: -17px;
}
.line1{
    background: #666;
    position: absolute;
    height: 1px;
    width: 65px;
    margin-top: 20px;
    margin-left: 420px;
}
.line2{
    background: #666;
    position: absolute;
    height: 1px;
    width: 65px;
    margin-top: 20px;
    margin-left: 650px;
}
.line3{
    background: #666;
    position: absolute;
    height: 1px;
    width: 82px;
    margin-top: 20px;
    margin-left: -3px;
}
.row input{
    border:none;
    border-bottom: 1px solid #666;
    outline: none;
}
.row label{
    position: absolute;
}
.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 481px;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    background: none;
    color: white;
    padding: 10px 15px;
    border: none;
    display: none;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.resp{
    display: none;
}